* {
    font-family: 'Sentient', serif;

}

.introduction {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(18, 17, 74, 0.10437678489364499) 0%, rgba(235, 235, 235, 1) 10%, rgb(251, 150, 55) 100%);
    height: 100vh
}
.dark{
    background: rgb(0, 0, 0);
    color: white;
}

.fadeup-animate{
    animation: slide-up 2s;
}


.gradient{
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(18, 17, 74, 0.10437678489364499) 0%, rgb(0, 0, 0) 10%, rgb(251, 150, 55) 100%);
}

.box-1 {
    height: 85vh;

}
/* 
#preloader {
    background: #fff url(images/loading.gif) no-repeat center center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
} */



#arrow1 {
    animation: slide-in 2s ease-in infinite;
}

#arrow2 {
    animation: slide-in 2s ease-in infinite;

}

#arrow3 {
    animation: slide-in 2s ease-in infinite;

}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(60%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(0%);
    }

    to {
        opacity: 1;
        transform: translateY(10%);
    }

}

.navbox {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
    color: black !important;
    text-decoration: none !important;
}

a.name {
    font-family: 'Britney', cursive;
    color: rgb(251, 150, 55) !important;
    font-size: 30px;
}

/* toggle button */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(133, 133, 133);
    transition: 0.5s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    transition: .4s;
}.navbox {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input:checked+.slider {
    background-color: black;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



.aboutMetext{
    font-size: 28px;
}
.line{
    border-bottom: 3px solid rgb(251, 150, 55) ;
    width:100px;
}
.info-bg{
    background:rgba(87, 115, 111, 0.19);

}
.logo{
    height: 100px;
    width: 100px;
}

#navbar{
    background-color: rgb(243, 233, 224);
}

.vh-100{
    height: 100vh;
}

#progress-bar{
    position: sticky;
    top: 52px;
    left: 0;
    height: 6px;
    z-index: 10000 !important;
    background:rgb(251, 150, 55) ;
    transform: width 0.2s ease-out;
}