*{
    font-family: 'Sentient', serif;
}
.introduction{
background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(18,17,74,0.10437678489364499) 0%, rgba(235,235,235,1) 41%, rgba(0,255,166,1) 100%);
height:100vh
}

.box-1{
    height: 100vh;
}

#preloader{
    background: #fff url(images/loading.gif) no-repeat center center;
    width: 100%;
    height : 100vh;
    position: fixed;
    z-index: 100;
}

.name{
    font-family: 'Britney', cursive;
    font-size: 100px;
    color: rgb(0, 139, 90);
}